
* {
  box-sizing: border-box;
}

/* typography */

body {
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 10vh;
  margin-top: 200px;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 4vh;
  line-height: 167%;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 3vh;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 3vh;
  line-height: 150%;
  margin: 20px;

}

/* navigation bar */
.navbar {
  background-color: #FFF2ED;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position:fixed;
  padding: 0;
  width: 100%;
}


#work {
  color: black;
  display: inline-block;
  float: right;
  margin: 5px 5px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

 #about_me {
  color: black;
  display: inline-block;
  float: right;
  margin: 5px 5px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

#contact_nav {

  display: inline-block;
  border: 2px solid;
  color: black;
  float: right;
  padding: 14px 25px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;

}

#logo  {
  float: left;
  margin: 5px 0px 5px 100px;
  object-fit: contain;
  width: 3%;
}


nav a:hover {
  background-color: #FFF2ED;
  color: black;
}


/*hero */

.hero {
   background-color: #FFF2ED;
   height: 800px;
   text-align: center;
   width: 100%;
 }

.hero p {
   font-family: 'Montserrat', sans-serif;
   font-size: 3vh;
   line-height: 150%;
   letter-spacing: 5px;
   margin: 15px;

 }

.fa-angle-double-down {
   margin-top: 250px;
 }

/* main */
.main h3 {
   text-align: center;
   margin-top: 30px;
   width: 100%;
 }

.main p {
 font-family: 'Montserrat', sans-serif;
 font-size: 2vh;
 line-height: 150%;
 padding-top: 5px;
 padding-bottom: 5px;
}


.trove_project a:link, a:visited {
  border: 2px solid;
  color: black;
  display: inline-block;
  font-size: 2vh;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

.busybus_project a:link, a:visited {
  border: 2px solid;
  color: black;
  display: inline-block;
  font-size: 2vh;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

.trove_project {
      display: inline-block;
      margin-top: 40px;
      text-align: right;
      vertical-align: top;
      width: 50%;
    }

.trove {
        display: inline-block;
        margin-left: 150px;
        margin-top: 40px;
        width: 30%;
      }

.busybus_project {
      display: inline-block;
      margin-left: 200px;
      margin-top: 40px;
      vertical-align: top;
      width: 50%;
      }

.busy {
      display: inline-block;
      margin-top: 40px;
      width: 30%;
    }

/* design section */

.design_process {
      background-color: #FCFCFC;
      margin-top: 30px;
      text-align: center;
    }

.designpic {
      margin-top: 10px;
      margin-bottom: 10px;
    }

.design {
      height: auto;
      width: 50%;
    }

/*slider*/
.testimonials {
      text-align: center;
      margin-top: 30px;
    }

.slider {
      height: 300px;
      position: relative;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
          -webkit-box-align: end;
          -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
        }
.slider__nav {
    width: 12px;
    height: 12px;
    margin: 2rem 12px;
    border-radius: 50%;
    z-index: 10;
    outline: 6px solid gray;
    outline-offset: -6px;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
    cursor: pointer;
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }
.slider__nav:checked {
    -webkit-animation: check 0.4s linear forwards;
          animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
    left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
    left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
    left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
    left: -300%;
}
.slider__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    -webkit-transition: left 0.4s;
    transition: left 0.4s;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.slider__contents {
    height: 100%;
    padding: 2rem;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
          -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
        }
        .slider__image {
          font-size: 2.7rem;
          color: #2196F3;
  }
.slider__caption {
    font-weight: 500;
    margin: 2rem 0 1rem;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
  }
.slider__txt {
    color: #999;
    line-height: 1.5;
    margin-bottom: 5rem;
    max-width: 300px;
  }

@-webkit-keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}

@keyframes check {
  50% {
    outline-color: #333;
    box-shadow: 0 0 0 12px #333, 0 0 0 36px rgba(51, 51, 51, 0.2);
  }
  100% {
    outline-color: #333;
    box-shadow: 0 0 0 0 #333, 0 0 0 0 rgba(51, 51, 51, 0);
  }
}


  /* case studies */


.projecthero {
      background-color: white;
      text-align: center;
    }

.projecthero a:link, a:visited {
      border: 2px solid;
      color: black;
      display: inline-block;
      font-size: 18px;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      margin: 10px 60px;
    }


.projecthero p {
      padding: 5px;
      font-size: 2.5vh;
      line-height: 130%;
   }

.projectmain {
      margin-top: 50px;
      margin-bottom: 50px;
      margin-right: auto;
      margin-left: auto;
      max-width: 700px;
    }

.projectmain a:link, a:visited {
      display: block;
      border: 2px solid;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      width: 200px;
      color: black;
      font-size: 18px;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
    }

.projectmain p {
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5vh;
      margin: 40px;
      line-height: 150%;
    }

.projectmain img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    /* busy bus project */
.bususer {
      width: 90%;
    }

.busprototype {
      width: 90%;
    }

.busprototype2 {
      width: 100%;
    }

.busmockupimage {
      width: 50%;
    }

.busfinal {
      width: 50%;
    }


    /*trove project*/

.center {
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

.side  {
      width: 30%;
      height: 300px;
      padding: 10px;
    }

.user {
      width: 30%;
      height: 400px;
      padding: 20px 25px;
      margin-left: 10px;
    }

.mood, .troveblue, .mockupimage {
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }

.wireframeimage {
      width: 60%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

.graph {
      width: 40%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

.sketch {
      width: 40%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

.trove_landing {
      width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }


/* about me */

.aboutmehero {
      background-color: white;
      height: 700px;
      text-align: center;
    }

.aboutmemain {
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
      max-width: 700px;
    }

.aboutmemain p {
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      line-height: 167%;
      padding: 20px;
    }

.aboutmemain blockquote {
      background-color: #FFF2ED;
      height: 300px;
      margin-left: 150px;
      margin-right: 150px;
      line-height: 167%;
      padding: 20px;
    }

.skills li {
      margin-left: 20px;
      padding: 5px;
    }

.tools li {
      margin-left: 20px;
      padding: 5px;
    }

/* connect */
.connect p {
      font-family: 'Montserrat', sans-serif;
      font-size: 2vh;
      line-height: 150%;
      padding: 10px 10px;
    }

.connect {
      background-color: #FFFAF6;
      text-align: center;
      margin-top: 20px;
    }

.connect a:link, a:visited {
      border: 2px solid;
      color: black;
      display: inline-block;
      font-size: 2vh;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      margin: 10px;
    }

/* contact forms */

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact button[type="submit"] {
      font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    }

    #contact {
      background: #F9F9F9;
      padding: 25px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      margin-left: auto;
      margin-right: auto;
      width: 700px;
    }

    #contact h3 {
      display: block;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    #contact h4 {
      margin: 5px 0 15px;
      display: block;
      font-size: 13px;
      font-weight: 400;
    }

    fieldset {
      border: medium none !important;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea {
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
    }

    #contact input[type="text"]:hover,
    #contact input[type="email"]:hover,
    #contact input[type="tel"]:hover,
    #contact input[type="url"]:hover,
    #contact textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa;
    }

    #contact textarea {
      height: 100px;
      max-width: 100%;
      resize: none;
    }

    #contact button[type="submit"] {
      cursor: pointer;
      width: 100%;
      border: none;
      background: #000000;
      color: #FFF;
      margin: 0 0 5px;
      padding: 10px;
      font-size: 15px;
    }

    #contact button[type="submit"]:hover {
      background: #000000;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }

    #contact button[type="submit"]:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    .copyright {
      text-align: center;
    }

    #contact input:focus,
    #contact textarea:focus {
      outline: 0;
      border: 1px solid #aaa;
    }

    ::-webkit-input-placeholder {
      color: #888;
    }

    :-moz-placeholder {
      color: #888;
    }

    ::-moz-placeholder {
      color: #888;
    }

    :-ms-input-placeholder {
      color: #888;
    }

/* footer */

footer ul{
    align-items: center;
    display: flex;
    justify-content: center;
}

footer li{
    display: inline-block;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
  }

footer p {
    font-size: 10px;
    text-align: center;
  }


.fa-envelope {
    color: black;
    }



@media only screen and (max-width: 600px) {


  * {
    box-sizing: border-box;
  }

  /* index page */
  .hero {
     background-color: #FFF2ED;
     height: 450px;
     text-align: center;

   }

   .fa-angle-double-down {
     margin-top: 110px;
   }

   .trovepic {
     height: auto;
     width: 90%;
   }


   .busypic {
     height: auto;
     width: 90%;
   }


   .trove_project {
     display: block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;

   }

   .trove {
     display: block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
   }


   .busybus_project {
     display: block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
   }

   .busy {
     display: block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
   }

   h1 {
     font-size: 5vh;
     margin-top: 50px;
   }

   .hero p {
     font-size: 2vh;
   }

   /* navigation bar */
   .navbar {
     background-color: #FFF2ED;
     list-style-type: none;
     margin: 0;
     overflow: hidden;
     position:fixed;
     padding: 0;
     width: 100%;
     z-index: 1;
   }


   #work {
     color: black;
     display: inline-block;
     float: right;
     margin: 5px 5px;
     padding: 10px 5px;
     text-align: center;
     text-decoration: none;
   }

    #about_me {
     color: black;
     display: inline-block;
     float: right;
     margin: 5px 5px;
     padding: 10px 5px;
     text-align: center;
     text-decoration: none;
   }

   #contact_nav {
     color: black;
     display: inline-block;
     float: right;
     padding: 10px 5px;
     margin: 5px 5px;
     text-align: center;
     text-decoration: none;
   }


   #logo  {
     float: left;
     margin: 5px 0px 5px 20px;
     object-fit: contain;
     width: 6%;
   }




 /* about me */
 .aboutmehero {
       background-color: white;
       height: 500px;
       text-align: center;
     }

   .aboutmemain blockquote {
     height: 70%;
     margin-left: auto;
     margin-right: auto;
     line-height: 167%;
     padding: 20px;
     background-color: #FFF2ED;
     width: 70%;
   }

   .skills li {
      margin-left: 20px;
      padding: 5px;
     }

   .tools li {
     margin-left: 20px;
     padding: 5px;
   }

   .me {
     height: auto;
     width: 80%;
   }

   /* trove project */

   .projecthero {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .center {
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .side {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 70%;
  }

  .user {
    display: block;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
  }

  .mood {
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
  }

  .mockupimage {
    width: 80%;
    height:70%;
  }

  .wireframeimage {
    width: 80%;
    height:70%;
  }

   /* design section */
   .design_process {
     background-color: #FCFCFC;
     text-align: center;
     margin-top: 30px;
   }

   .design {
     width: 70%;
   }



   /*contact me */


    #contact {
      background: #F9F9F9;
      padding: 25px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      margin-left: auto;
      margin-right: auto;
      width: 500px;
    }

   /* footer section */


   .fa-envelope {
     color: black;
   }

   .fa-github-square {
     color: black;
   }

   .fa-linkedin {
     color: black;
   }

   .fa-dribbble-square {
     color: black;
   }



}



@media only screen and (max-width: 768px) {


  * {
    box-sizing: border-box;
  }

  /* index page */
  .hero {
     background-color: #FFF2ED;
     height: 450px;
     text-align: center;

   }

   .fa-angle-double-down {
     margin-top: 110px;
   }

   .trovepic {
     height: auto;
     width: 90%;
   }


   .busypic {
     height: auto;
     width: 90%;
   }


   .trove_project {
     display: block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;

   }

   .trove {
     display: block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
   }


   .busybus_project {
     display: block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
   }

   .busy {
     display: block;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
   }

   h1 {
     font-size: 7vh;
     margin-top: 50px;
   }

   .hero p {
     font-size: 3vh;
   }

   /* navigation bar */
   .navbar {
     background-color: #FFF2ED;
     list-style-type: none;
     margin: 0;
     overflow: hidden;
     position:fixed;
     padding: 0;
     width: 100%;
     z-index: 1;
   }


   #work {
     color: black;
     display: inline-block;
     float: right;
     margin: 5px 5px;
     padding: 10px 5px;
     text-align: center;
     text-decoration: none;
   }

    #about_me {
     color: black;
     display: inline-block;
     float: right;
     margin: 5px 5px;
     padding: 10px 5px;
     text-align: center;
     text-decoration: none;
   }

   #contact_nav {
     color: black;
     display: inline-block;
     float: right;
     padding: 10px 5px;
     margin: 5px 5px;
     text-align: center;
     text-decoration: none;
   }


   #logo  {
     float: left;
     margin: 5px 0px 5px 30px;
     object-fit: contain;
     width: 6%;
   }




 /* about me */
 h2 {
   font-family: 'Playfair Display', serif;
   font-size: 4vh;
   line-height: 150%;
   margin: 20px;

 }

 .aboutmehero {
       background-color: white;
       height: 550px;
       text-align: center;
     }

   .aboutmemain blockquote {
     height: 70%;
     margin-left: auto;
     margin-right: auto;
     line-height: 167%;
     padding: 20px;
     background-color: #FFF2ED;
     width: 70%;
   }

   .skills li {
      margin-left: 20px;
      padding: 5px;
     }

   .tools li {
     margin-left: 20px;
     padding: 5px;
   }

   .me {
     height: auto;
     width: 80%;
   }

   /* trove project */

   .projecthero {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .center {
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .side {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 70%;
  }

  .user {
    display: block;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
  }

  .mood {
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
  }

  .mockupimage {
    width: 80%;
    height:70%;
  }

  .wireframeimage {
    width: 80%;
    height:70%;
  }
  /*busy bus */

  .buscenter {
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

   /* design section */
   .design_process {
     background-color: #FCFCFC;
     text-align: center;
     margin-top: 30px;
   }

   .design {
     width: 70%;
   }
/*contact me */


    #contact {
      background: #F9F9F9;
      padding: 25px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      margin-left: auto;
      margin-right: auto;
      width: 500px;
    }

   /* footer section */


   .fa-envelope {
     color: black;
   }

   .fa-github-square {
     color: black;
   }

   .fa-linkedin {
     color: black;
   }

   .fa-dribbble-square {
     color: black;
   }



}
