
* {
  box-sizing: border-box;
}

/* typography */

body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1{
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 5vh;
  margin-left: 30px;
}

h3 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 3vh;
  line-height: 167%;
}

h4 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 3vh;
  font-weight: bold;
}

h2 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 3vh;
  line-height: 150%;
  margin: 20px;
  font-weight: 900;
}

h5 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 150%;
  padding: 15px 0px;
}

h6 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 3vh;
  line-height: 167%;
  margin-top: 30px;
  margin-left: 30px;
  text-align:left;
  width: 600px;
}


/* navigation bar */
.navbar {
  list-style-type: none;
  overflow: hidden;
  position:fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  text-decoration: none;
}

.navbarlinks a:link {
  color: black;
  display: inline-block;
  float: right;
  margin: 40px 10px 20px 10px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

.navbarlinks a:visited {
 color: black;
 display: inline-block;
 float: right;
 margin: 40px 10px 20px 10px;
 padding: 10px 20px;
 text-align: center;
 font-weight: bold;
 text-decoration: none;
}

.navbarlinks a:hover {
  color: black;
  display: inline-block;
  float: right;
  margin: 40px 10px 20px 10px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid #FFB2E0;

}

.navbarlinks a:active {
  color: black;
  display: inline-block;
  float: right;
  margin: 40px 10px 20px 10px;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid #FFB2E0;

}



#logo  {
  display: inline-block;
  float: left;
  margin: 40px 0px 10px 130px;
  width: 3%;
  object-fit: contain;
}


#contact_nav {
  display: inline-block;
  padding: 10px 20px;
  margin: 40px 150px 20px 10px;
}



/*hero */
.welcome {
  display: block;
  max-width: 1000px;
  text-align: left;
  margin-left:300px;
  margin-right: 150px;
  margin-top: 150px;
}

.hero {
 height: 700px;
 text-align: center;
}


.hero p {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 4vh;
  line-height: 160%;
  margin-top: 30px;
  margin-left: 30px;
  text-align:left;
  width: 600px;
 }


.fa-angle-down  {
  margin-left: 390px;
  margin-top: 90px;
  border: none;
  outline: none;
  background-color: #FFCAEA;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;

  }



 #myBtn {
   display: none;
   position: fixed;
   bottom: 20px;
   right: 30px;
   z-index: 99;
   border: none;
   outline: none;
   background-color: black;
   color: white;
   cursor: pointer;
   padding: 10px 15px;
   border-radius: 50%;
 }

 #myBtn:hover {
   background-color: #FFCAEA;
 }



/* main */
.main h3 {
   text-align: center;
   margin-top: 30px;
   width: 100%;
 }

.main p {
 font-family: 'Open Sans', Arial, Helvetica, sans-serif;
 font-size: 20px;
 line-height: 180%;
 padding-top: 10px;
 padding-bottom: 10px;
 margin: 10px auto;

}

.main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.main img:hover {
  opacity: 0.5;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.project_content {
  width: 50%;
  text-align: center;
  margin-bottom: 40px;
}


 .highlight {
     background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFCAEA 50%);
   }

/* end */


  /* case studies */


.projecthero {
      background-color: white;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

.projecthero a:link {
        border: 2px solid;
        color: black;
        display: inline-block;
        font-size: 18px;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        margin: 10px 60px;
  }

.projecthero a:visited {
      border: 2px solid;
      color: black;
      display: inline-block;
      font-size: 18px;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      margin: 10px 60px;
  }

.projecthero a:hover {
   border: 2px solid white;
   color: white;
   background-color: black;
   display: inline-block;
   font-size: 18px;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   margin: 10px 60px;
 }


.projecthero a:active {
   border: 2px solid white;
   color: white;
   background-color: black;
   display: inline-block;
   font-size: 18px;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   margin: 10px 60px;
}

.projecthero p {
      padding: 5px;
      font-size: 2.5vh;
      line-height: 130%;
}

.projecthero img {
      margin-bottom: 20px;
      margin-top: 50px;
}

.projectmain {
      margin-right: auto;
      margin-left: auto;
      max-width: 1000px;
  }

.projectmain a:link {
      display: block;
      border: 2px solid;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 100px;
      width: 200px;
      color: black;
      font-size: 18px;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
    }

.projectmain a:visited {
      display: block;
      border: 2px solid;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 100px;
      width: 200px;
      color: black;
      font-size: 18px;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
    }

.projectmain a:hover {
  display: block;
  border: 2px solid white;
  color: white;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  width: 200px;
  font-size: 18px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  }

.projectmain a:active {
  display: block;
  border: 2px solid white;
  color: white;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  width: 200px;
  font-size: 18px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  }

.projectmain p {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-size: 20px;
      margin: 40px;
      line-height: 150%;
      margin-top: 20px;
      margin-bottom: 100px;
    }

.projectmain img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 100px;
    }

.projectmain iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}


.bold {
  font-weight: 900;
}

    /* busy bus project */

.bususer {
      width: 90%;
    }

.busprototype {
      width: 90%;
    }

.busprototype2 {
      width: 90%;
    }

.busmockupimage {
      width: 40%;
    }

.busystyle img{
    width: 100%;
}

    /*trove project*/

.center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }

.side  {
      height: 300px;
      padding: 10px;
      width: 30%;
    }

.troveuser {
      float: left;
      padding: 10px 35px;
      width: 40%;
}

.user {
      float: left;
      padding: 10px 15px;
      width: 33%;
    }

.userflow::after {
      content: "";
      clear: both;
      display: table;
}
.troveblue, .mockupimage {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
      width: 80%;
    }

.mood {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      width: 70%;
}

.wireframeimage {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      padding-bottom: 10px;
    }

.graph {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }

.sketch {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

.trove_landing {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
  }

.wireframes {
  color: light-gray;
}
/* medchat */

.medchatmockup {
  width: 100%;
}

.medchatsketch {
  width: 70%;
}

/* about me */

.aboutmehero {
      background-color: white;
      height: 700px;
      text-align: center;
    }

.aboutmemain {
      margin-top: 20px;
      margin-right: auto;
      margin-left: auto;
      max-width: 700px;
    }

.aboutmemain p {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-size: 20px;
      line-height: 167%;
      padding: 20px;
    }

.aboutmemain blockquote {
      border-left: 4px solid #FFB2E0;
      height: 200px;
      margin-left: 150px;
      margin-right: 150px;
      line-height: 167%;
      padding: 20px;
    }


.tools li {
      margin-left: 20px;
      padding: 5px;
    }

.tools {
      display: flex;
      margin-bottom: 50px;
      flex-wrap: wrap;
  }

.aboutmemain  a:link {
      display: block;
      border: 2px solid;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      margin-bottom: 100px;
      width: 250px;
      color: black;
      font-size: 18px;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
        }

.aboutmemain a:visited {
      display: block;
      border: 2px solid;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      margin-bottom: 100px;
      width: 250px;
      color: black;
      font-size: 18px;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
        }

.aboutmemain  a:hover {
  display: block;
  border: 2px solid white;
  color: white;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 250px;
  font-size: 18px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}

.aboutmemain a:active {
  display: block;
  border: 2px solid white;
  color: white;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 250px;
  font-size: 18px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}


/* connect */
.connect p {
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      font-size: 16px;
      line-height: 150%;
      padding: 10px 10px;
    }

.footer p {
     font-family: 'Open Sans', Arial, Helvetica, sans-serif;
     font-size: 12px;
     line-height: 150%;
     padding: 10px 10px;
}
.connect {
      text-align: center;
      height: 300px;
    }

.connect a:link {
      border: 2px solid;
      color: black;
      display: inline-block;
      font-size: 2vh;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      margin: 10px;
    }

.connect a:visited {
      border: 2px solid;
      color: black;
      display: inline-block;
      font-size: 2vh;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      margin: 10px;
    }

.connect  a:hover {
  border: 2px solid white;
  color: white;
  background-color: black;
  display: inline-block;
  font-size: 2vh;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}

.connect a:active {
  border: 2px solid white;
  color: white;
  background-color: black;
  display: inline-block;
  font-size: 2vh;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}


/* contact forms */

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact button[type="submit"] {
      font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    }

    #contact {
      background:  #FFB2E0;
      padding: 25px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      margin-left: auto;
      margin-top: 100px;
      margin-right: auto;
      width: 700px;
    }

    #contact h3 {
      display: block;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    #contact h4 {
      margin: 5px 0 15px;
      display: block;
      font-size: 13px;
      font-weight: 400;
    }

    fieldset {
      border: medium none !important;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea {
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
    }

    #contact input[type="text"]:hover,
    #contact input[type="email"]:hover,
    #contact input[type="tel"]:hover,
    #contact input[type="url"]:hover,
    #contact textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa;
    }

    #contact textarea {
      height: 100px;
      max-width: 100%;
      resize: none;
    }

    #contact button[type="submit"] {
      cursor: pointer;
      width: 100%;
      border: none;
      background: #000000;
      color: #FFF;
      margin: 0 0 5px;
      padding: 10px;
      font-size: 15px;
    }

    #contact button[type="submit"]:hover {
      background: #000000;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }

    #contact button[type="submit"]:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    .copyright {
      text-align: center;
    }

    #contact input:focus,
    #contact textarea:focus {
      outline: 0;
      border: 1px solid #aaa;
    }

    ::-webkit-input-placeholder {
      color: #888;
    }

    :-moz-placeholder {
      color: #888;
    }

    ::-moz-placeholder {
      color: #888;
    }

    :-ms-input-placeholder {
      color: #888;
    }

/* footer */

footer ul{
    align-items: center;
    display: flex;
    justify-content: center;
}

footer p {
    font-size: 10px;
    text-align: center;
  }

.footer a:link  {
      color: black;
      display: inline-block;
      list-style-type: none;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 35px;
    }

.footer a:visited {
      color: black;
      display: inline-block;
      list-style-type: none;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 35px;
    }

.footer a:hover {
      color: #FFB2E0;
    }

.footer a:active {
      color: #FFB2E0;
    }

@media only screen and (max-width: 600px) {


  * {
    box-sizing: border-box;
  }

  /* index page */
  .hero {
     height: 400px;
   }

   .welcome {
     margin-left: auto;
     margin-right: auto;
     float: left;
     margin-top: 30px;
   }


      h1 {
        font-size: 3vh;
        margin-top: 30px;
        margin-left: 30px;
        width: 300px;
      }

      .hero p {
        font-size: 3vh;
        margin-bottom: 20px;
        margin-left: 30px;
        width: 300px;
      }

      h6 {
        font-size: 3vh;
        margin-top: 20px;
        margin-left: 30px;
        width: 300px;
      }


   .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .fa-angle-down  {
    margin-left: 180px;
    margin-right: auto;
    margin-top: 40px;
    border: none;
    outline: none;
    background-color: #FF94D4;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    }


  /* navigation bar */
  .navbar {
    list-style-type: none;
    overflow: hidden;
    position:fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
    text-decoration: none;
  }

  .navbarlinks a:link {
    color: black;
    display: inline-block;
    float: right;
    margin: 40px 10px 10px 10px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  }

  .navbarlinks a:visited {
    color: black;
    display: inline-block;
    float: right;
    margin: 40px 10px 10px 10px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  }

  .navbarlinks a:hover {
    border-bottom: 3px solid #FFB2E0;
  }

  .navbarlinks a:active {
    border-bottom: 3px solid #FFB2E0;
  }

  #logo  {
    display: inline-block;
    float: left;
    margin: 20px 0px 5px 20px;
    width: 6%;
    object-fit: contain;
  }

  #work {
    display: inline-block;
    padding: 10px 5px;
  }

   #about_me {
    display: inline-block;
    padding: 10px 5px;
  }

  #contact_nav {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 20px 5px 5px;
  }

.main {
    margin-top: 400px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: #FFB2E0;
}

.project_content {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
 /* about me */

 .aboutmehero {
       background-color: white;
       height: 450px;
       text-align: center;
     }

   .aboutmemain blockquote {
     height: 70%;
     margin-left: auto;
     margin-right: auto;
     line-height: 167%;
     padding: 20px;
     width: 70%;
   }

   .skills li {
      margin-left: 20px;
      padding: 5px;
     }

   .tools li {
     margin-left: 20px;
     padding: 5px;
   }

  .tools {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
   }

   .me {
     height: auto;
     width: 80%;
   }

   /* trove project */

   .projecthero {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .side {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 70%;
  }

  .user {
    display: block;
    float: none;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
  }

  .mood {
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
  }

  .mockupimage {
    width: 80%;
    height:70%;
  }

  .wireframeimage {
    width: 80%;
    height:70%;
  }


   /*contact me */


    #contact {
      background:  #FFB2E0;
      padding: 25px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      margin-left: auto;
      margin-right: auto;
      width: 500px;
    }

    .connect p {
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 16px;
          line-height: 150%;
          padding: 10px 10px;

        }
    .footer p {
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 12px;
          line-height: 150%;
          padding: 10px 10px;

          }
}



@media only screen and (max-width: 768px) {


  * {
    box-sizing: border-box;
  }

  /* index page */
  .hero {
     height: 400px;
   }

   .welcome {
     max-width: 700px;
     margin-left: auto;
     margin-right: auto;
     float: left;
     margin-top: 30px;
   }


   h1 {
     font-size: 3vh;
     margin-top: 30px;
     margin-left: 30px;
     width: 300px;
   }

   .hero p {
     font-size: 3vh;
     margin-bottom: 20px;
     margin-left: 30px;
     width: 300px;
   }

   h6 {
     font-size: 3vh;
     margin-top: 20px;
     margin-left: 30px;
     width: 300px;
   }

   .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .fa-angle-down  {
    margin-left: 180px;
    margin-right: auto;
    margin-top: 40px;
    border: none;
    outline: none;
    background-color: #FF94D4;
    color: white;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    }

    #myBtn {
      display: none;
      position: fixed;
      bottom: 20px;
      right: 40px;
      z-index: 99;
      border: none;
      outline: none;
      background-color: black;
      color: white;
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 50%;
    }

    #myBtn:hover {
      background-color: #FFB2E0;
    }
  /* navigation bar */
  .navbar {
    list-style-type: none;
    overflow: hidden;
    position:fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 2;
    background-color: white;
    text-decoration: none;
  }

  .navbarlinks a:link {
    color: black;
    display: inline-block;
    float: right;
    margin: 40px 10px 10px 10px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  }

  .navbarlinks a:visited {
    color: black;
    display: inline-block;
    float: right;
    margin: 40px 10px 10px 10px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
  }

  .navbarlinks a:hover {
    border-bottom: 3px solid #FFB2E0;
  }

  .navbarlinks a:active {
    border-bottom: 3px solid #FFB2E0;
  }

  #logo  {
    display: inline-block;
    float: left;
    margin: 40px 0px 5px 20px;
    width: 6%;
    object-fit: contain;
  }

  #work {
    display: inline-block;
    padding: 10px 5px;
  }

   #about_me {
    display: inline-block;
    padding: 10px 5px;

  }

  #contact_nav {
    display: inline-block;
    padding: 10px 20px;
    margin: 40px 20px 5px 5px;
  }

  .main {
      margin-top: 400px;
  }

  .project_content {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
 /* about me */
 h2 {
   font-family: 'Nunito', Arial, Helvetica, sans-serif;
   font-size: 4vh;
   line-height: 150%;
   margin: 20px;

 }

 .aboutmehero {
       background-color: white;
       height: 450px;
       text-align: center;
     }

   .aboutmemain blockquote {
     height: 70%;
     margin-left: auto;
     margin-right: auto;
     line-height: 167%;
     padding: 20px;
     border-left: 4px solid #FFB2E0;
     width: 70%;
   }

   .tools li {
     margin-left: 20px;
     padding: 5px;
   }

   .me {
     height: auto;
     width: 80%;
   }

   /* trove project */

   .projecthero {
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .center {
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .side {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 70%;
  }

  .user {
    display: block;
    float: none;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 50%;
  }

  .mood {
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
  }

  .mockupimage {
    width: 80%;
    height:70%;
  }

  .wireframeimage {
    width: 80%;
    height:70%;
  }
  /*busy bus */

  .buscenter {
    display: block;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }


/*contact me */


    #contact {
      background:  #FFB2E0;
      padding: 25px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
      margin-left: auto;
      margin-right: auto;
      width: 300px;
    }

   .connect p {
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 16px;
          line-height: 150%;
          padding: 10px 10px;

        }

   .footer p {
          font-family: 'Nunito', Arial, Helvetica, sans-serif;
          font-size: 12px;
          line-height: 150%;
          padding: 10px 10px;

        }

}
