
* {
  box-sizing: border-box;
}


/* typography */

 body {
   font-family: montserrat;
 }

 h1{
   font-family: Karla;
   font-size: 50px;
 }

 h3 {
   font-family: Karla;
   font-size: 36px;
   line-height: 167%;
 }

h2 {
   font-family: Karla;
   font-size: 24px;
   margin-left: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}


/* navigation bar */
.navbar {
  background-color: #FFFAF6;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position:fixed;
  padding: 0;
  width: 100%;
}


#work {
  color: black;
  display: inline-block;
  float: right;
  margin: 5px 5px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

 #about_me {
  color: black;
  display: inline-block;
  float: right;
  margin: 5px 5px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

#contact_nav {
  background-color: #F3DDCC;
  display: inline-block;
  float: right;
  color: black;
  padding: 14px 25px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;

}

#contact_nav:hover {
  background-color: #FFDFE3
}

#logo  {
  float: left;
  margin: 5px 0px 5px 100px;
  object-fit: contain;

}


nav a:hover {
  background-color: #FFDFE3;
  color: black;
}


/*hero */

.hero {
   height: 800px;
   text-align: center;
 }


/* main text */
 .main {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
 }

 .main p {
   font-family: montserrat;
   font-size: 20px;
   line-height: 167%;
   padding: 20px;
 }

 blockquote {
   height: 300px;
   margin-left: 150px;
   margin-right: 150px;
   line-height: 167%;
   padding: 20px;
   background-color: #fff1f1;
 }

.skills li {
  margin-left: 20px;
  padding: 5px;
}

.tools li {
  margin-left: 20px;
  padding: 5px;
}

 /* connect */
 .connect {
   background-color: #FFFAF6;
   text-align: center;
   margin-top: 40px;
 }

 .connect p {
   font-family: montserrat;
   font-size: 20px;
   line-height: 150%;
   padding: 10px 10px;
 }

 .connect a:link, a:visited {
   background-color: #F3DDCC;
   color: black;
   display: inline-block;
   font-size: 18px;
   padding: 14px 25px;
   text-align: center;
   text-decoration: none;
   margin: 10px;
 }

  .connect a:hover, a:active {
   background-color: #FFDFE3;
 }



 /* footer */
 footer ul{
   display: flex;
   align-items: center;
   justify-content: center;
 }

 footer li{
   list-style-type: none;
   display: inline-block;
   padding: 15px;
   margin: 10px;
 }

 footer p {
   text-align: center;
   font-size: 12px;
 }

 .fa-envelope:hover {
  color: #ffb1c3;
 }

 .fa-envelope {
   color: black;
 }

 .fa-github-square:hover{
    color: #ffb1c3;
 }

 .fa-linkedin:hover{
    color: #ffb1c3;
 }

 .fa-dribbble-square:hover{
    color: #ffb1c3;
 }



 /* responsiveness */



 @media only screen and (max-width: 580px) {

   .navbar {
     position: fixed;
     background-color: #FFFAF6;
     overflow: hidden;
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 100%;
     z-index: 1;
   }
   #contact_nav {
     background-color: #F3DDCC;
     color: black;
     padding: 14px 25px;
     margin: 5px 5px;

   }

   #logo  {
     float: left;
     object-fit: contain;
     margin: 5px 0px 5px 30px;
   }


   nav a:hover {
     background-color: white;
     color: black;
   }

   .me {
     width: 80%;
     height: 70%;
   }

   .main {
     width: 80%;
   }

   blockquote {
     font-size: 14px;
     height: auto;
     width: 80%;
     margin-left: auto;
     margin-right: auto;
   }

   .main {
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
   }

   .main p {
     font-size: 16px;
   }
   .hero {
      height: 500px;
      text-align: center;
    }

    h1 {
      font-family: Karla;
      font-size: 30px;
    }



}
