
* {
  box-sizing: border-box;
}


/* typography */

 body {
   font-family: 'Montserrat', sans-serif;
 }

 h1{
   font-family: 'Karla', sans-serif;
   font-weight: bold;
   font-size: 50px;
   line-height: 167%;
 }

 h3 {
   font-family: 'Karla', sans-serif;
   font-size: 36px;
   line-height: 167%;
 }

h2 {
   font-family: 'Karla', sans-serif;
   font-size: 24px;
   margin-left: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}


/* navigation bar */
.navbar {
  background-color: #FFFAF6;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  position:fixed;
  padding: 0;
  width: 100%;
}


#work {
  color: black;
  display: inline-block;
  float: right;
  margin: 5px 5px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

 #about_me {
  color: black;
  display: inline-block;
  float: right;
  margin: 5px 5px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

#contact_nav {
  background-color: #F3DDCC;
  display: inline-block;
  float: right;
  color: black;
  padding: 14px 25px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;

}

#contact_nav:hover {
  background-color: #FFDFE3
}

#logo  {
  float: left;
  margin: 5px 0px 5px 100px;
  object-fit: contain;
  width: 3%;
}


nav a:hover {
  background-color: #FFDFE3;
  color: black;
}


/*hero */

.hero {
   height: 800px;
   text-align: center;
 }


/* main text */
 .main {
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
 }

 .main p {
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   line-height: 167%;
   padding: 20px;
 }

 blockquote {
   height: 300px;
   margin-left: 150px;
   margin-right: 150px;
   line-height: 167%;
   padding: 20px;
   background-color: #fff1f1;
 }

.skills li {
  margin-left: 20px;
  padding: 5px;
}

.tools li {
  margin-left: 20px;
  padding: 5px;
}

/* connect */
.connect p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 150%;
  padding: 10px 10px;
}

.connect {
  background-color: #FFFAF6;
  text-align: center;
  margin-top: 20px;
}

.connect a:link, a:visited {
  background-color: #F3DDCC;
  color: black;
  display: inline-block;
  font-size: 18px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
}

 .connect a:hover, a:active {
  background-color:  #FFDFE3;
}




 /* footer */
 footer ul{
   display: flex;
   align-items: center;
   justify-content: center;
 }

 footer li{
   list-style-type: none;
   display: inline-block;
   padding: 15px;
   margin: 10px;
 }

 footer p {
   text-align: center;
   font-size: 12px;
 }

 .fa-envelope:hover {
  color: #ffb1c3;
 }

 .fa-envelope {
   color: black;
 }

 .fa-github-square:hover{
    color: #ffb1c3;
 }

 .fa-linkedin:hover{
    color: #ffb1c3;
 }

 .fa-dribbble-square:hover{
    color: #ffb1c3;
 }



 /* responsiveness */

 @media only screen and (max-width: 600px) {


   * {
     box-sizing: border-box;
   }


   /* typography */

    body {
      font-family: 'Montserrat', sans-serif;
    }

    h1{
      font-family: 'Karla', sans-serif;
      font-size: 30px;
      margin-bottom: 20px;
    }

    h3 {
      font-family: 'Karla', sans-serif;
      font-size: 24px;
      line-height: 167%;
    }

   h2 {
      font-family: 'Karla', sans-serif;
      font-size: 18px;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
   }

   /*hero */

   .hero {
      background-color: #FFFAF6;
      height: 400px;
      text-align: center;
    }

    .hero a:link, a:visited {
     background-color: #F3DDCC;
     color: black;
     display: inline-block;
     font-size: 18px;
     padding: 14px 25px;
     text-align: center;
     text-decoration: none;
     margin: 10px 10px;
    }

    .hero a:hover,  a:active {
     background-color:  #FFDFE3;
    }

    /* navigation bar */
    .navbar {
      background-color: #FFFAF6;
      list-style-type: none;
      margin: 0;
      overflow: hidden;
      position:fixed;
      padding: 0;
      width: 100%;
    }


    #work {
      color: black;
      display: inline-block;
      float: right;
      margin: 5px 5px;
      padding: 10px 5px;
      text-align: center;
      text-decoration: none;
    }

     #about_me {
      color: black;
      display: inline-block;
      float: right;
      margin: 5px 5px;
      padding: 10px 5px;
      text-align: center;
      text-decoration: none;
    }

    #contact_nav {
      background-color: #F3DDCC;
      display: inline-block;
      float: right;
      color: black;
      padding: 10px 5px;
      margin: 5px 5px;
      text-align: center;
      text-decoration: none;

    }

    #contact_nav:hover {
      background-color: #FFDFE3;
    }

    #logo  {
      float: left;
      margin: 5px 0px 5px 20px;
      object-fit: contain;
      width: 5%;
    }


    nav a:hover {
      background-color: #FFDFE3;
      color: black;
    }


    /*hero */

    .hero {
       height: 600px;
       text-align: center;
     }


    /* main text */
     .main {
      margin-right: auto;
      margin-left: auto;
      max-width: 700px;
     }

     .main p {
       font-family: 'Montserrat', sans-serif;
       font-size: 18px;
       line-height: 167%;
       padding: 20px;
     }

     blockquote {
       height: 70%;
       width: 70%;
       margin-left: auto;
       margin-right: auto;
       line-height: 167%;
       padding: 20px;
       background-color: #fff1f1;
     }

    .skills li {
      margin-left: 20px;
      padding: 5px;
    }

    .tools li {
      margin-left: 20px;
      padding: 5px;
    }

    .me {
      width: 80%;
      height: auto;
    }

 }

 @media only screen and (max-width: 768px) {


      * {
        box-sizing: border-box;
      }


      /* typography */

       body {
         font-family: 'Montserrat', sans-serif;
       }

       h1{
         font-family: 'Karla', sans-serif;
         font-size: 30px;
       }

       h3 {
         font-family: 'Karla', sans-serif;
         font-size: 24px;
         line-height: 167%;
       }

      h2 {
         font-family: 'Karla', sans-serif;
         font-size: 18px;
         margin-left: 10px;
         margin-top: 10px;
         margin-bottom: 10px;
      }

      /*hero */

      .hero {
         background-color: #FFFAF6;
         height: 450px;
         text-align: center;
       }

       .hero a:link, a:visited {
        background-color: #F3DDCC;
        color: black;
        display: inline-block;
        font-size: 18px;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        margin: 10px 10px;
       }

       .hero a:hover,  a:active {
        background-color:  #FFDFE3;
       }

       /* navigation bar */
       .navbar {
         background-color: #FFFAF6;
         list-style-type: none;
         margin: 0;
         overflow: hidden;
         position:fixed;
         padding: 0;
         width: 100%;
       }


       #work {
         color: black;
         display: inline-block;
         float: right;
         margin: 5px 5px;
         padding: 10px 5px;
         text-align: center;
         text-decoration: none;
       }

        #about_me {
         color: black;
         display: inline-block;
         float: right;
         margin: 5px 5px;
         padding: 10px 5px;
         text-align: center;
         text-decoration: none;
       }

       #contact_nav {
         background-color: #F3DDCC;
         display: inline-block;
         float: right;
         color: black;
         padding: 10px 5px;
         margin: 5px 5px;
         text-align: center;
         text-decoration: none;

       }

       #contact_nav:hover {
         background-color: #FFDFE3;
       }

       #logo  {
         float: left;
         margin: 5px 0px 5px 20px;
         object-fit: contain;
         width: 7%;
       }


       nav a:hover {
         background-color: #FFDFE3;
         color: black;
       }



       /* main text */
        .main {
         margin-right: auto;
         margin-left: auto;
         max-width: 700px;
        }

        .main p {
          font-family: 'Montserrat', sans-serif;
          font-size: 18px;
          line-height: 167%;
          padding: 20px;
        }

        blockquote {
          height: 50%;
          width: 70%;
          margin-left: auto;
          margin-right: auto;
          line-height: 167%;
          padding: 20px;
          background-color: #fff1f1;
        }

       .skills li {
         margin-left: 20px;
         padding: 5px;
       }

       .tools li {
         margin-left: 20px;
         padding: 5px;
       }

       .me {
         width: 60%;
         height: auto;
       }


 }
